$editor_top: 180px;
$controls_height: 50px;
#encrypt, #decrypt {
    border-right: 1px solid $border_colour;

    h1 {
        margin: 10px 0px 0px 30px;
    }

    label {
        margin-left: 20px;
        margin-right: 10px;
    }

    input {
        width: 40%;
        padding: 3px;
        margin-bottom: 20px;
    }

    #encrypt_editor, #decrypt_editor { 
        width: 100%;
        position: absolute;
        top: $editor_top;
        bottom: $controls_height;
    }

    .controls {
        position: absolute;
        bottom: 0;
        height: $controls_height;
        width: 100%;

        a {
            position: absolute;
            bottom: 15px;
            left: 50px;
        }

        p {
            position: absolute;
            right: 0px;
            width: 50%;
        }
    }
}