#encrypt {
    border-right: 1px solid $border_colour;

    h1 {
        margin: 10px 0px 0px 30px;
    }

    label {
        margin-left: 20px;
        margin-right: 10px;
    }

    input {
        width: 40%;
        padding: 3px;
        margin-bottom: 20px;
    }

    .CodeMirror {
        border-top: 1px solid $border_colour;
        border-bottom: 1px solid $border_colour;
    }

    a {
        
    }

    p {
        
    }
}

#decrypt {
    
}