#panels {
    width: 1000px;
    margin: auto;

    &.hidden {
        position: relative;
        left: 9999px;
        height: 10px;
        overflow: hidden;
    }

    h1 {
        margin-left: 100px;
        margin-bottom: 0;
    }

    .instructions {
        text-align: center;

        ol, ul {
            display: inline-block;
            background-color: $alternate_background_color;
            text-align: left;
        }

        li {
            margin: 8px 0px;
        }
    }

    input[type=text] {
        display: block;
        margin: auto;
        padding: 8px;
        width: 500px;
        border: 2px solid $border_color_light;
        font-size: 1em;
        color: $font_color;
    }

    #setup {
        input[type=text]:focus {
            outline: none;
            border: 2px solid $setup_color_dark;
        }
    }

    #encrypt {
        input[type=text]:focus {
            outline: none;
            border: 2px solid $encrypt_color_dark;
        }
    }

    #decrypt {
        input[type=text]:focus {
            outline: none;
            border: 2px solid $decrypt_color_dark;
        }
    }

    #hack {
        input[type=text]:focus {
            outline: none;
            border: 2px solid $hack_color_dark;
        }
    }

    #console {
        input[type=text]:focus {
            outline: none;
            border: 2px solid $console_color_dark;
        }
    }

    #save {
        input[type=text]:focus {
            outline: none;
            border: 2px solid $save_color_dark;
        }
    }

    .editor {
        width: 750px;
        height: 500px;
        margin-left: 125px;
        margin-top: 30px;
        border: 1px solid $border_color_dark;
    }

    .execute {
        position: relative;
        top: 30px;
        left: 150px;
        display: inline-block;
        width: 100px;
        text-decoration: none;
        padding: 5px 5px 8px 5px;
        margin: 0 15px 30px 15px;
        color: $link_color;
        font-weight: lighter;
        line-height: 20px;
        text-align: center;
        background-color: $execute_color_dark;

        &:hover {
            background-color: $execute_color_light;
        }
    }

    .output {
        position: relative;
        bottom: 35px;
        left: 80px;
    }
}