.mpanel.chat.room {
    height: 100%;

    h1 {
        height: 50px;
    }

    .chatbar {
        height: 50px;
    }

    .conversation {
        height: 500px;
        overflow: auto;
        border: 1px solid $wet-asphalt;
        padding: 5px;
        margin-bottom: 10px;
    }

    form input[type=submit] {
        position: relative;
        left: 9999px;
    }
}