html, body {
  margin: 0px;
  padding: 0px; }

#header {
  position: absolute;
  top: 0px;
  height: 50px;
  width: 100%; }

#container {
  position: absolute;
  top: 50px;
  bottom: 100px;
  width: 100%; }
  #container #encrypt {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 50%;
    overflow-y: scroll; }
  #container #decrypt {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 50%; }

#console {
  position: absolute;
  bottom: 0px;
  height: 100px;
  width: 100%; }

#header {
  border-bottom: 1px solid #333333; }
  #header h1 {
    margin: 5px 0 0 20px; }
  #header #save {
    position: absolute;
    right: 20px;
    top: 20px; }

#encrypt {
  border-right: 1px solid #333333; }
  #encrypt h1 {
    margin: 10px 0px 0px 30px; }
  #encrypt label {
    margin-left: 20px;
    margin-right: 10px; }
  #encrypt input {
    width: 40%;
    padding: 3px;
    margin-bottom: 20px; }
  #encrypt #encrypt_editor {
    width: 100%;
    position: absolute;
    top: 180px;
    bottom: 50px; }
  #encrypt .controls {
    position: absolute;
    bottom: 0;
    height: 50px; }

#console {
  background-color: black;
  margin: 0;
  overflow: scroll;
  font-family: monospace; }
  #console ul {
    list-style: none;
    margin: 0 10px 0 10px;
    padding: 0; }
  #console .info {
    color: #ccc; }
  #console .success {
    color: green; }
  #console .error {
    color: red; }
