$link_color: #ECF0F1;
$font_color: #2C3E50;

$home_color_light: #1ABC9C;
$home_color_dark: #16A085;

    $intro_color_light: #F1C40F;
    $intro_color_dark: #F39C12;

    $contact_color_light: #E67E22;
    $contact_color_dark: #D35400;

    $links_color_light: #E74C3C;
    $links_color_dark: #C0393B;

$chat_color_light: #1ABC9C;
$chat_color_dark: #16A085;

    $lobby_color_light: #F1C40F;
    $lobby_color_dark: #F39C12;

    $create_color_light: #E67E22;
    $create_color_dark: #D35400;

    $room_color_light: #E74C3C;
    $room_color_dark: #C0393B;

$code_color_light: #1ABC9C;
$code_color_dark: #16A085;

    $setup_color_light: #1ABC9C;
    $setup_color_dark: #16A085;

    $encrypt_color_light: #2ECC71;
    $encrypt_color_dark: #27AE60;

    $decrypt_color_light: #3498DB;
    $decrypt_color_dark: #2980B9;

    $hack_color_light: #9B59B6;
    $hack_color_dark: #8E44AD;

    $console_color_light: #F1C40F;
    $console_color_dark: #F39C12;

    $save_color_light: #E67E22;
    $save_color_dark: #D35400;

    $execute_color_light: #E74C3C;
    $execute_color_dark: #C0393B;

$alternate_background_color: #ECF0F1;
$border_color_light: #BDC3C7;
$border_color_dark: #95A5A6;

$info_color: #ECF0F1;
$error_color: #E74C3C;
$success_color: #2ECC71;

html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    color: $font_color;
}
