#console {

    ul {
        width: 750px;
        height: 500px;
        margin-left: 125px;
        margin-top: 30px;
        border: 1px solid $border_color_dark;
        overflow: scroll;
        background-color: #2C3E50;
        list-style: none;
        padding: 5px;
        font-family: 'Ubuntu Mono', sans-serif;

        li {
            white-space: nowrap;
            line-height: 20px;
        }
        
    }

    .info {
        color: $info_color;
    }

    .success {
        color: $success_color;;
    }

    .error {
        color: $error_color;;
    }
}