#header {
    text-align: center;

    h1, h2 {
        margin: 0;
    }

    h2 {
        font-family: 'VT323', cursive;
    }

    div.login {
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 0.8em;
    }
}