body.login {
    text-align: center;
    form {
        width: 270px;
        margin: auto;
        margin-top: 100px;
        input[type=submit] {
            width: 100px;
            text-decoration: none;
            padding: 5px 5px 8px 5px;
            color: $link_color;
            font-weight: lighter;
            line-height: 20px;
            text-align: center;
            background-color: $execute_color_dark;
            border: none;
            cursor: pointer;
            &:hover {
                background-color: $execute_color_light;
            }
        }

        input[type=text], input[type=password] {
            display: block;
            margin-bottom: 20px;
            padding: 8px;
            width: 250px;
            border: 2px solid $border_color_light;
            font-size: 1em;
            color: $font_color;

            &:focus {
                outline: none;
                border: 2px solid $execute_color_dark;
            }
        }
    }
}