<!doctype html>
<html lang="en">
    <head>
        <title>UCLSC13 | mercury</title>
        <script src="/static/js/custom.modernizr.js"></script>
        <script src="/static/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/jquery.js" type="text/javascript"></script>
        <script src="/static/js/foundation/foundation.js" type="text/javascript"></script>
        <script src="/static/js/foundation/foundation.topbar.js" type="text/javascript"></script>
        <script src="/static/js/alertify.js" type="text/javascript"></script>
        <script src="/static/js/script.js" type="text/javascript"></script>
        <link href="/static/app.css" rel="stylesheet" media="screen">
    </head>
    <body class="{{ page }}">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <div class="row header">
            <div class="large-12 large-centered columns"><h1>Summer Challenge 2013</h1></div>
        </div>
        <div class="row header">
            <div class="large-12 large-centered columns"><h2>Can You Hack It?</h2></div>
        </div>
        <div class="contain-to-grid">
            <nav class="top-bar" style="">
                <ul class="title-area">
                    <li class="name">
                        <h1><a class="intro" href="/">mercury</a></h1>
                    </li>
                    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                </ul>
                <section class="top-bar-section">
                    <ul class="left">
                        <li class="divider"></li>
                        <li class="has-dropdown"><a class="nav intro" href="intro">Home</a>
                            <ul class="dropdown">
                                <li><a class="nav intro" href="intro">Intro</a></li>
                                <li><a class="nav contact" href="contact">Contact</a></li>
                                <li><a class="nav links" href="links">Links</a></li>
                            </ul>
                        </li>
                        <li class="divider"></li>
                        <li class="has-dropdown"><a class="nav lobby" href="lobby">Chat</a>
                            <ul class="chat dropdown">
                                <li><a class="nav lobby" href="lobby">Lobby</a></li>
                                <li><a class="nav create" href="create">Create</a></li>
                            </ul>
                        </li>
                        <li class="divider"></li>
                        <li class="has-dropdown"><a class="nav load" href="load">Code</a>
                            <ul class="dropdown">
                                <li><a class="nav load" href="load">Load</a></li>
                                <li><a class="nav encrypt" href="encrypt">Encrypt</a></li>
                                <li><a class="nav decrypt" href="decrypt">Decrypt</a></li>
                                <li><a class="nav hack" href="hack">Hack</a></li>
                                <li><a class="nav console" href="console">Console</a></li>
                                <li><a class="nav save" href="save">Save</a></li>
                            </ul>
                        </li>
                        <li class="divider"></li>
                    </ul>
                    <ul class="right">
                        {% if user %}
                        <li><a href="/logout/">logout</a></li>
                        {% else %}
                        <li><a href="/login/">login</a></li>
                        {% endif %}
                    </ul>
                </section>
            </nav>
        </div>
        {% block content %}<h1>Nothing Here</h1>{% endblock %}
    </body>
</html>
