{% extends "base.html" %}
{% block content %}
<div class="mpanel home intro">

</div>
<div class="mpanel home contact">

</div>
<div class="mpanel home links">

</div>
<div class="mpanel chat lobby">

</div>
<div class="mpanel chat create">

</div>
<div class="mpanel code encrypt row">
    <div class="large-10 large-centered small-12 columns">
        <div class="row">
            <h1>Encrypt</h1>
        </div>
        <div class="row">
            <input type="text" class="input" placeholder="Message"/>
        </div>
        <div class="row">
            <div class="editor" id="encrypt_editor"></div>
        </div>
        <div class="row">
            <div class="large-2 small-2 columns">
                <a href="#encrypt" class="button alert-dark small">encrypt</a>
            </div>
            <div class="large-10 small-10 columns">
                <input type="text" class="output" placeholder="Output"/>
            </div>
        </div>
    </div>
</div>
<div class="mpanel code decrypt row">
    <div class="large-10 large-centered small-12 columns">
        <div class="row">
            <h1>Decrypt</h1>
        </div>
        <div class="row">
            <input type="text" class="input" placeholder="Ciphertext"/>
        </div>
        <div class="row">
            <div class="editor" id="decrypt_editor"></div>
        </div>
        <div class="row">
            <div class="large-2 small-2 columns">
                <a href="#decrypt" class="button alert-dark small">decrypt</a>
            </div>
            <div class="large-10 small-10 columns">
                <input type="text" class="output" placeholder="Output"/>
            </div>
        </div>
    </div>
</div>
<div class="mpanel code hack row">
    <div class="large-10 large-centered small-12 columns">
        <div class="row">
            <h1>Hack</h1>
        </div>
        <div class="row">
            <input type="text" class="input" placeholder="Ciphertext"/>
        </div>
        <div class="row">
            <div class="editor" id="hack_editor"></div>
        </div>
        <div class="row">
            <div class="large-2 small-2 columns">
                <a href="#hack" class="button alert-dark small">hack</a>
            </div>
            <div class="large-10 small-10 columns">
                <input type="text" class="output" placeholder="Output"/>
            </div>
        </div>
    </div>
</div>
<div class="mpanel code console row">
    <div class="large-10 large-centered small-12 columns">
        <div class="row">
            <h1>Console</h1>
        </div>
        <div class="row">
            <ul class="console">
                <li class="info">Welcome to the mercury extension builder</li>
                <li class="info">Useful information will appear in this console</li>
            </ul>
        </div>
    </div>
</div>
<div class="mpanel code load">

</div>
<div class="mpanel code save">
    
</div>
{% endblock %}