{% extends "base.html" %}
{% block content %}
<div class="mpanel home intro">
    <div class="row">
        <h1>Introduction</h1>
    </div>
    <div class="row">
        <p>Welcome to UCL's 2013 Summer Challenge. First of all, congratulations for picking the best course! This is the Computer Security challenge where we'll learn:</p>
        <ul>
            <li>How to program in Python</li>
            <li>How to encrypt and decrypt messages</li>
            <li>How to go about cracking encryption</li>
            <li>The history of computer security</li>
            <li>The future of computer security</li>
            <li>l33t haxxor skilz</li>
        </ul>
    </div>
    <div class="row">
        <p>What's this site for? We'll explain it in detail during the course but... in case you forget...</p>
        <p>You can use the ribbon at the top of the page to navigate the site, there are three main areas. 1) The home area, this area, where you'll find information about the course and links to more information about the course. 2) The chat area, this area contains a chat room system. There's a lobby where you can browse active chat rooms and choose to join them. There's an option to create a new chat room. There's also a list of all of the chat rooms you're currently participating in.</p>
    </div>
</div>
<div class="mpanel home contact">

</div>
<div class="mpanel home links">

</div>
<div class="mpanel chat lobby">
    <div class="row">
        <h1>Lobby</h1>
    </div>
    <div class="row">
        <p>In the lobby you can see what chat rooms are already open and click on one to join it.</p>
    </div>
    <div class="row">
        Choose a room:
        <ul class="rooms">
        {% for room in rooms %}
            <li><a class="room" href="{{ room | replace(' ', '_') }}">{{ room }}</a></li>
        {% endfor %}
        </ul>
    </div>
</div>
<div class="mpanel chat create">
    <div class="large-3 small-6 small-centered large-centered columns">
        <form method="POST" action="/api/chat/">
            <input type="text" name="name" placeholder="Room name" />
            <input type="submit" class="button" value="Create" />
        </form>
    </div>
</div>
<div class="mpanel code load row">
    <div class="row">
        <h1>Load Module</h1>
    </div>
    <div class="row">
        <p>Choose a module to load into the editors. Your own code is available, as well as modules, written by others, that have been made public.</p>
    </div>
    <div class="large-3 small-6 small-centered large-centered columns">
        <form action="/" method="GET">
            <select name="module">
                {% if user.modules.user | length > 0 %}
                {% for m in user.modules.user %}
                <optgroup label="{{ user.id }}-{{ m }}">
                    {% for v in user.modules.user[m] %}
                    <option value="{{ user.id }}-{{ m }}-{{ v }}">{{ v }}</option>
                    {% endfor %}
                </optgroup>    
                {% endfor %}
                {% endif %}
                {% for u in user.modules.public %}
                {% for m in user.modules.public[u] %}
                <optgroup label="{{ u }}-{{ m }}">
                    {% for v in user.modules.public[u][m] %}
                    <option value="{{ u }}-{{ m }}-{{ v }}">{{ v }}</option>
                    {% endfor %}
                </optgroup>    
                {% endfor %}
                {% endfor %}
            </select>
            <input type="submit" value="Load" class="button" />
        </form>
    </div>
</div>
<div class="mpanel code encrypt row">
    <div class="large-10 large-centered small-12 columns">
        <div class="row">
            <h1>Encrypt</h1>
        </div>
        <div class="row">
            <input type="text" class="input" placeholder="Message"/>
        </div>
        <div class="row">
            <div class="editor" id="encrypt_editor"></div>
        </div>
        <div class="row">
            <div class="large-2 small-2 columns">
                <a href="#encrypt" class="button alert-dark small">encrypt</a>
            </div>
            <div class="large-10 small-10 columns">
                <input type="text" class="output" placeholder="Output"/>
            </div>
        </div>
    </div>
</div>
<div class="mpanel code decrypt row">
    <div class="large-10 large-centered small-12 columns">
        <div class="row">
            <h1>Decrypt</h1>
        </div>
        <div class="row">
            <input type="text" class="input" placeholder="Ciphertext"/>
        </div>
        <div class="row">
            <div class="editor" id="decrypt_editor"></div>
        </div>
        <div class="row">
            <div class="large-2 small-2 columns">
                <a href="#decrypt" class="button alert-dark small">decrypt</a>
            </div>
            <div class="large-10 small-10 columns">
                <input type="text" class="output" placeholder="Output"/>
            </div>
        </div>
    </div>
</div>
<div class="mpanel code hack row">
    <div class="large-10 large-centered small-12 columns">
        <div class="row">
            <h1>Hack</h1>
        </div>
        <div class="row">
            <input type="text" class="input" placeholder="Ciphertext"/>
        </div>
        <div class="row">
            <div class="editor" id="hack_editor"></div>
        </div>
        <div class="row">
            <div class="large-2 small-2 columns">
                <a href="#hack" class="button alert-dark small">hack</a>
            </div>
            <div class="large-10 small-10 columns">
                <input type="text" class="output" placeholder="Output"/>
            </div>
        </div>
    </div>
</div>
<div class="mpanel code console row">
    <div class="large-10 large-centered small-12 columns">
        <div class="row">
            <h1>Console</h1>
        </div>
        <div class="row">
            <ul class="console">
                <li class="info">Welcome to the mercury extension builder</li>
                <li class="info">Useful information will appear in this console</li>
            </ul>
        </div>
    </div>
</div>
<div class="mpanel code save">
    <div class="row">
        <h1>Save Module</h1>
    </div>
    <div class="row">
        <p>If this is a new module, give it a new name. If it's an improvement to an existing module (yours or someone else's) then keep the name the same and give it a new version number. If you want to overwrite any previous code then keep the name and version the same. If you'd like other people to be able to look at your code and modify it for themselves then add the letter 'p' after your version number. If you've been modifying someone else's module then any saves you make will appear under your account, not theirs.</p>
    </div>
    <div class="large-5 small-6 small-centered large-centered columns">
        <form action="/" method="POST">
            <div class="row">
                <div class="large-9 small-9 columns">
                    <input type="text" name="name" placeholder="Name" />
                </div>
                <div class="large-3 small-3 columns">
                    <input type="text" name="version" placeholder="Version" />
                </div>
            </div>
            <input type="hidden" name="encrypt" />
            <input type="hidden" name="decrypt" />
            <input type="hidden" name="hack" />
            <input type="submit" value="Save" class="button" />
        </form>
    </div>
</div>
{% endblock %}

