{% extends "base.html" %}
{% block content %}
<div id="navbar">
    <ul class="main">
        <li>home</li>
        <li>chat</li>
        <li>code</li>
    </ul>
    <ul class="home">
        <li><a class="intro" href="#intro">intro</a></li>
        <li><a class="contact" href="#contact">contact</a></li>
        <li><a class="links" href="#links">links</a></li>
    </ul>
    <ul class="chat">
        <li><a class="lobby" href="#lobby">lobby</a></li>
        <li><a class="create" href="#create">create</a></li>
    </ul>
    <ul class="code">
        <li><a class="encrypt" href="#encrypt">encrypt</a></li>
        <li><a class="decrypt" href="#decrypt">decrypt</a></li>
        <li><a class="hack" href="#hack">hack</a></li>
        <li><a class="console" href="#console">console</a></li>
        <li><a class="load" href="#load">load</a></li>
        <li><a class="save" href="#save">save</a></li>
    </ul>
</div>
<div id="panels">
    <div class="panel home intro">
    
    </div>
    <div class="panel home contact">
    
    </div>
    <div class="panel home links">
    
    </div>
    <div class="panel chat lobby">
    
    </div>
    <div class="panel chat create">
   
    </div>
    <div class="panel code encrypt">
        <h1>Encrypt</h1>
        <input type="text" class="input" placeholder="Message"/>
        <div class="editor" id="encrypt_editor"></div>
        <a href="#encrypt" class="execute">encrypt</a>
        <input type="text" class="output" placeholder="Output"/>
    </div>
    <div class="panel code decrypt">
        <h1>Decrypt</h1>
        <input type="text" class="input" placeholder="Ciphertext"/>
        <div class="editor" id="decrypt_editor"></div>
        <a href="#decrypt" class="execute">decrypt</a>
        <input type="text" class="output" placeholder="Output"/>
    </div>
    <div class="panel code hack">
        <h1>Hack</h1>
        <input type="text" class="input" placeholder="Ciphertext"/>
        <div class="editor" id="hack_editor"></div>
        <a href="#hack" class="execute">hack</a>
        <input type="text" class="output" placeholder="Output"/>
    </div>
    <div class="panel code console">
        <h1>Console</h1>
        <ul>
            <li class="info">Welcome to the mercury extension builder</li>
            <li class="info">Useful information will appear in this console</li>
        </ul>
    </div>
    <div class="panel code load">

    </div>
    <div class="panel code save">
        
    </div>
</div>
{% endblock %}