a:hover {
    color: #{{ color }} !important;
}
input:focus {
    border-color: #{{ color }} !important;
}
{% for user in users %}
.messages .user.{{ user.id }} {
    color: #{{ user.colour }};
}
{% endfor %}